<% provide(:title, t("global.menu.contact")) %>
<h1><%= t "global.menu.contact" %></h1>
<p>
  <%=
    t ".content_html",
      href: link_to(t(".ror_tutorial_contact"), Settings.ror_tutorial_contact_url)
  %>
</p>
