<% provide :title, t("global.menu.sign_up") %>
<h1><%= t "global.menu.sign_up" %></h1>
<p><%= t ".content_html" %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
